.img-center{
  position: relative;
  height: 300px;
  width: 400px;
  margin: 20px;
  overflow: hidden;

}
.img-center img {
  display: block;
  position: absolute
}

.img-center img.aspectFill-x{
  height: 100%;
  left: 50%;
  transform: translateX(-50%)
}

.img-center img.aspectFill-y{
  width: 100%;
  top: 50%;
  transform: translateY(-50%)
}